:root {
  --primary-color: #e8a12e;
}

a img {
  padding-left: 10%;
  margin-top: 8%;
  padding-right: 20%;
  padding-bottom: 10%;
}

.logo {
  height: 85px;
}

body {
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.home-content {
  background-image: url(../images/Backgrnd\ jpg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.myheader {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  max-height: 100px;
}

.hamburger-icon {
  position: absolute;
  top: 35px;
  right: 90px;
  font-size: 1.5em;
  color: var(--primary-color);
  cursor: pointer;
  margin: auto 10px;
}

nav {
  color: var(--primary-color);
  display: none;
  position: absolute;
  right: 0px;
  z-index: 1000;
}

nav ul {
  padding: 80px 0px 0px 0px;
  z-index: 1;
  margin-top: 20px;
}

nav li {
  display: block;
  background-color: var(--primary-color);
}

nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  display: block;
}

nav a:hover {
  text-decoration: underline;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.active {
  font-weight: bold;
}

.header-icons {
  margin: auto 10px;
  display: flex;
  gap: 5px;
}

.fa-search {
  color: var(--primary-color);
  font-size: 1.5em;
  margin-top: 2px;
}

.cart-icon {
  color: var(--primary-color);
  font-size: 1.5em;
  cursor: pointer;
}

.cart-icon a {
  color: #e8a12e;
}

.cart-container {
  color: white;
}

.checkout-link {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  left: 0px;
  overflow: hidden;
}

.cart-link-container {
  text-align: center;
}

.cart-link {
  margin: 0 auto;
  color: white;
  background-color: #e8a12e;
  border: none;
  border-radius: 30px;
  position: absolute;
  bottom: 5px;
  right: 25%;
}

.cart-total {
  margin: 5px;
  font-size: 0.6em;
}

.cart-total-sum {
  position: absolute;
  right: 5px;
}

.search-icon {
  margin: auto 10px;
}

h1 {
  font-size: 1.4em;
  position: absolute;
  left: 20px;
  top: 100px;
  text-shadow: 1px 1px var(--primary-color);
}

.second-h1 {
  top: 130px;
}

p {
  position: absolute;
  font-size: 1em;
  left: 20px;
  top: 175px;
  margin: 0;
  text-shadow: 1px 1px var(--primary-color);
}

.second-p {
  top: 195px;
}

.home-top p {
  color: #fff;
  text-shadow: 1px 1px var(--primary-color);
}

hr {
  width: 100%;
  height: 0%;
  opacity: 50%;
  position: relative;
  z-index: -1;
}

.cta {
  background-color: var(--primary-color);
  background-size: cover;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  padding: 10px 70px;
  border-radius: 30px;
  max-width: 80px;
  height: 1em;
  position: relative;
  top: 450px;
  display: inline-block;
  overflow: hidden;
}

.cta:before {
  content: "";
  padding: 10px;
  background: white;
  transform: rotate(45deg);
  position: absolute;
  height: 90px;
  top: -40px;
  left: -90px;
  transition: left ease-in-out 1s;
  opacity: 0.3;
}

.cta:hover:before {
  left: 110%;
}

.cta-button {
  text-align: center;
}

.icon {
  color: var(--primary-color);
  display: block;
  font-size: 2.5em;
  position: fixed;
  bottom: 50px;
  right: 30px;
}

/* Search page */

.search-content {
  background-image: url(../images/Backgrnd\ jpg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.search-bar {
  text-align: center;
  position: relative;
  margin: 0 auto;
  top: 100px;
}

.search-field {
  margin-bottom: 10px;
  /* padding: 10px 80px; */
  border-radius: 20px;
}

.search-button {
  padding: 10px 70px;
  border-radius: 30px;
  color: white;
  background-color: var(--primary-color);
  border: 0;
}

/* Product page */

.main-products {
  max-width: 300px;
  margin: 0 auto;
}

.main-products img {
  width: 100%;
  height: 64%;
}

.search-div {
  padding-top: 80px;
  /* text-align: left; */
  /* display: flex;
  justify-content: space-between; */
}

.search-field {
  display: flex;
  justify-content: space-between;
}

.search-div input {
  max-width: 180px;
  height: 20px;
  border: solid 1px #e8a12e;
}

.search-div button {
  background-color: #fff;
  color: #e8a12e;
  border: solid 1px #e8a12e;
  border-radius: 30px;
  font-size: 0.9em;
  padding: 2px 15px;
}

.sorting-div {
  display: flex;
  justify-content: space-between;
}

.dropdown select {
  max-width: 80px;
  background-color: white;
  color: #e8a12e;
  border: solid 1px #e8a12e;
}

.radio-buttons label {
  color: #e8a12e;
}

.radio-buttons {
  display: flex;
}

.radio-buttons input {
  accent-color: #e8a12e;
  margin-left: 0px;
  margin-right: 8px;
}

.featured {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-top: 10px;
}

.featured-product {
  flex: 1;
  min-width: 100px;
}

.main-products h1,
p {
  color: var(--primary-color);
  text-shadow: none;
}

.main-products h1 {
  left: 37px;
  top: 100px;
}

.main-products p {
  left: 37px;
  top: 140px;
}
.featured-product p {
  color: black;
  position: static;
}

.featured-product img {
  border: solid 1px var(--primary-color);
  margin: 0;
  padding: 0;
}

.product-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-text__name {
  font-size: 1em;
}

.product-text__price {
  font-size: 0.7em;
}

#yellow-text {
  color: var(--primary-color);
}

.featured a {
  text-decoration: none;
}

.product-buy {
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 5px 50px;
  border-radius: 30px;
  border: none;
  margin-top: 5px;
  cursor: pointer;
}

.buy-button {
  display: flex;
  justify-content: center;
}

.cart-button {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.product-cart {
  background-color: white;
  color: var(--primary-color);
  text-decoration: none;
  padding: 5px 27px;
  border-radius: 30px;
  border: solid 1px var(--primary-color);
  margin-top: 5px;
  cursor: pointer;
}

/* Black product page */

.main-black {
  max-width: 300px;
  margin: 0 auto;
}

.image-container {
  max-width: 200px;
  margin: 0 auto;
}

.main-black img {
  width: 100%;
  margin-top: 60px;
  border: 1px solid var(--primary-color);
}

.textbox {
  border: solid 1px var(--primary-color);
  margin-bottom: 20px;
}

.textbox h2,
h3 {
  color: black;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.textbox h2 {
  font-size: 1.3em;
}

.textbox h3 {
  font-size: 0.9em;
  padding-top: 0;
}

.main-black h1 {
  color: black;
  text-shadow: none;
  left: 38px;
}

.main-black p {
  position: static;
  color: black;
  padding: 5px;
}

.main-black a {
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  padding: 10px 70px;
  border-radius: 30px;
  max-width: 80px;
  height: 1em;
}

.buynow-cta {
  text-align: center;
  padding: 20px;
}

.buynow-cta__text {
  margin-top: 10px;
}

/* Yellow product page */

.main-yellow {
  max-width: 300px;
  margin: 0 auto;
}

.main-yellow img {
  width: 100%;
  margin-top: 60px;
  border: 1px solid var(--primary-color);
}

.textbox h2,
h3 {
  color: black;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-yellow h1 {
  color: black;
  text-shadow: none;
  left: 38px;
}

.main-yellow p {
  position: static;
  color: black;
  padding: 5px;
}

.main-yellow a {
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  padding: 10px 70px;
  border-radius: 30px;
  max-width: 80px;
  height: 1em;
}

/* Checkout page black */

.checkout-body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main-checkout {
  max-width: 300px;
  min-width: 300px;
  margin: 0 auto;
}

.checkout-content {
  height: 100%;
}

.checkout-content h1 {
  color: black;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.3em;
  opacity: 70%;
  position: static;
}

.checkout-summary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto;
  align-items: center;
}

.checkout-summary h2 {
  color: var(--primary-color);
  font-size: 1em;
}

.checkout-summary hr {
  margin-top: 0;
}

.checkout-summary p {
  position: static;
  text-align: center;
  color: black;
  opacity: 50%;
}

.checkout-summary img {
  max-height: 57px;
  min-height: 57px;
  max-width: 37px;
  min-width: 37px;
  border: 1px solid #e8a12e;
  padding: 0;
}

.subtotal {
  display: flex;
  justify-content: space-between;
}

.subtotal p {
  position: static;
  color: black;
  opacity: 70%;
}

.continue-shopping {
  display: flex;
  justify-content: center;
}

.continue-shopping a {
  color: var(--primary-color);
  margin: 15px 0;
  font-size: 0.9em;
  font-style: italic;
}

.checkout-content fieldset {
  margin-bottom: 20px;
}

.date-picker {
  font-family: "Inter", sans-serif;
  opacity: 60%;
}

legend {
  color: black;
  opacity: 70%;
}

.checkout-form input {
  margin: 3px;
}

.checkout-card input {
  margin: 3px;
}

.checkout-cta {
  text-align: center;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  padding: 10px 70px;
  border-radius: 30px;
  position: relative;
  border: none;
  margin-top: 5px;
}

/* Checkout page */

.checkout-container {
  color: #e8a12e;
  margin-top: 100px;
}

.empty-cart {
  margin: 2px auto 10px auto;
}

#remove-item {
  color: red;
  display: block;
}
.error-message {
  color: red;
  font-size: 0.6em;
  display: none;
}

.checkout-form {
  display: flex;
  flex-direction: column;
}

.checkout-form input {
  border: solid 1px #e8a12e;
}

.success-message {
  color: #e8a12e;
}

/* Checkout success page */

.checkedout-body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main-checkedout {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.checkedout-content {
  width: 100%;
}

.checkedout-icon {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
}

.fa-check-circle {
  color: var(--primary-color);
  font-size: 6em;
}

.checkedout-content__text {
  text-align: center;
  margin-top: 50px;
}

.checkedout-content h1 {
  position: static;
  color: black;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.3em;
  opacity: 70%;
}

.checkedout-content h2 {
  color: black;
  font-size: 1.3em;
  font-weight: lighter;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.checkedout-content h3 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-weight: lighter;
  opacity: 70%;
}

#checkedout__second-h3 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.checkedout-content p {
  position: static;
  color: black;
  opacity: 50%;
}

#order-id {
  text-align: center;
}

#confirmation-email {
  text-align: left;
  font-size: 0.95em;
}

.checkedout-footer {
  text-align: center;
}

.checkedout-footer h3 {
  color: var(--primary-color);
  font-size: 1em;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  color: var(--primary-color);
  font-size: 2.5em;
}

/* About us page */

.main-about {
  max-width: 300px;
  margin: 0 auto;
}

.about-content {
  width: 100%;
}

.about-content h1 {
  position: static;
  color: black;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.3em;
  opacity: 70%;
}

.know-us {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 300px;
  min-height: 100px;
  margin: 0 auto;
}

.know-us img {
  width: 100%;
}

.know-us p {
  position: static;
  color: black;
  opacity: 50%;
}

.know-us h3 {
  opacity: 75%;
  padding: 0;
}

.about-content h2 {
  color: var(--primary-color);
  font-size: 1.2em;
}

/* Contact page*/

.contact-body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main-contact {
  max-width: 300px;
  min-width: 300px;
  margin: 0 auto;
}

.contact-content {
  width: 100%;
  margin-top: 20px;

  grid-template-rows: 50px 100px 100px 100px;
}

.contact-content__text {
  text-align: center;
  margin-top: 50px;
}

.contact-content h1 {
  position: static;
  color: black;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.3em;
  opacity: 70%;
}

.fa-phone-alt {
  color: var(--primary-color);
  font-size: 3em;
}

#contact-phonenumber {
  color: var(--primary-color);
  margin-right: 63px;
}

.fa-comment-alt {
  color: var(--primary-color);
}

.chat-text {
  background-color: var(--primary-color);
  background-size: cover;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  padding: 10px 70px;
  border-radius: 30px;
  max-width: 80px;
  height: 1em;
}

.fa-envelope {
  color: var(--primary-color);
  font-size: 3em;
}

#contact-mail {
  color: var(--primary-color);
  margin-left: 35px;
}

.contact-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.contact-chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.contact-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px 20px 0px;
}

.contact-mail a {
  margin-right: 65px;
}

.message-textbox {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.message-field {
  width: 250px;
  height: 70px;
  margin-bottom: 10px;
}
.email-input__contact {
  width: 250px;
  margin-bottom: 10px;
}

.message-textbox form {
  flex-direction: column;
}

.message-button {
  padding: 10px 70px;
  border-radius: 30px;
  color: white;
  background-color: var(--primary-color);
  border: 0;
}

.contact-footer {
  text-align: center;
}

.contact-footer h3 {
  color: var(--primary-color);
  font-size: 1em;
}

#contact-chat {
  font-size: 3em;
}

#message {
  padding: 20px;
  color: black;
  border: 1px solid black;
}

form {
  display: flex;
  justify-content: center;
}

.know-you input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

.about-cta-container {
  text-align: center;
}

.about-cta {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 70px;
  text-decoration: none;
  border-radius: 30px;
  position: relative;
}

.about-body footer {
  margin-top: 15px;
}

/* Media queries*/

@media (min-width: 600px) {
  .main-products {
    max-width: 510px;
    padding-top: 15px;
  }

  .icon {
    font-size: 3.5em;
  }

  .home-top h1 {
    font-size: 1.8em;
  }

  .second-h1 {
    top: 135px;
  }

  .second-p {
    top: 200px;
  }
  .home-top p {
    font-size: 1.4em;
    margin-top: 10px;
  }

  .products-heading h1 {
    font-size: 2em;
  }
  .products-heading p {
    font-size: 1.5em;
    margin: 15px 0;
  }

  .search-div input {
    height: 25px;
    max-width: 184px;
  }

  .search-field {
    justify-content: start;
    gap: 10px;
  }

  .search-div button {
    padding: 5px 20px;
  }

  .dropdown select {
    max-width: 100px;
  }

  .featured {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* padding-top: 80px; */
    padding-top: 25px;
  }

  .featured-product {
    min-width: 150px;
  }

  .main-black,
  .main-yellow {
    max-width: 400px;
  }

  .main-black h1,
  .main-yellow h1 {
    font-size: 1.8em;
  }

  .image-container {
    max-width: 250px;
  }

  .textbox h2 {
    font-size: 1.4em;
  }

  .textbox h3 {
    font-size: 1em;
  }

  .main-checkout {
    max-width: 400px;
  }

  .checkout-summary {
    max-width: 400px;
  }

  .checkout-content h1 {
    font-size: 1.8em;
  }

  .checkout-summary h2 {
    font-size: 1.3em;
  }

  .checkout-content img {
    max-height: 80px;
    margin-bottom: 15px;
  }

  .checkout-content p {
    font-size: 1.2em;
  }

  .main-checkedout {
    max-width: 460px;
  }

  .checkedout-content h1 {
    font-size: 1.8em;
  }

  .checkedout-content p {
    font-size: 1.2em;
  }

  .fa-check-circle {
    font-size: 8em;
  }

  .checkedout-content__text h2 {
    font-size: 1.7em;
  }

  #confirmation-email {
    font-size: 1.1em;
  }

  .checkedout-footer h3 {
    font-size: 1.5em;
  }

  .main-contact {
    min-width: 430px;
  }

  .contact-content h1 {
    font-size: 1.8em;
  }

  .message-field {
    width: 300px;
  }

  .fa-phone-alt {
    font-size: 4em;
  }

  #contact-phonenumber {
    font-size: 1.5em;
  }

  #contact-chat {
    font-size: 4em;
  }

  .chat-text {
    margin-right: 23px;
  }

  .fa-envelope {
    font-size: 4em;
  }
  #contact-mail {
    font-size: 1.5em;
  }
  .social-icons {
    font-size: 1.4em;
    gap: 30px;
  }

  .message-textbox form {
    justify-content: center;
  }

  .main-about {
    max-width: 400px;
  }

  .main-about h1 {
    font-size: 1.8em;
  }

  .know-us {
    max-width: 400px;
  }

  .know-us h2 {
    font-size: 1.5em;
  }

  .know-us h3 {
    font-size: 1.3em;
  }

  .know-us p {
    font-size: 1.1em;
  }

  .know-you h2 {
    font-size: 1.5em;
  }

  .know-you input {
    height: 50px;
  }
}

@media (min-width: 800px) {
  .hamburger-icon {
    display: none;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 15%;
  }

  nav ul {
    padding: 0px;
    margin-top: 4px;
    margin-left: 15%;
  }

  li {
    display: inline-block;
  }

  /* .nav-container {
    width: 100%;
    overflow: hidden;
  } */

  nav {
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 29%;
    font-size: 1.4em;
    right: 26%;
  }

  nav li {
    display: inline-block;
    background-color: unset;
  }

  .myheader {
    max-height: 135px;
    position: relative;
  }

  nav a {
    color: var(--primary-color);
  }
  .home-content {
    background-image: url(../images/kamil-kalbarczyk-lY11p3yNVxE-unsplash.jpg);
  }

  .home-top h1 {
    font-size: 2.5em;
    margin-top: 65px;
  }
  .second-h1 {
    top: 140px;
  }

  .second-p {
    top: 205px;
  }
  .home-top p {
    margin-top: 90px;
    font-size: 2em;
  }

  .cta {
    font-size: 1.1em;
    position: relative;
    bottom: 100px;
  }

  .search-content {
    background-image: url(../images/kamil-kalbarczyk-lY11p3yNVxE-unsplash.jpg);
  }

  /* .search-field {
    padding: 10px 100px;
  } */
  .cta-button:hover {
    font-weight: bold;
  }

  .main-products {
    max-width: 690px;
  }

  .main-products h1 {
    left: 100px;
  }

  .main-products p {
    left: 100px;
  }

  .featured {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    /* padding-top: 80px; */
    padding-top: 25px;
    margin-top: 10px;
    gap: 40px;
  }

  .main-black,
  .main-yellow {
    max-width: 700px;
  }

  .main-black h1,
  .main-yellow h1 {
    left: 65px;
    font-size: 2.5em;
    padding-top: 10px;
  }

  .image-container {
    max-width: 300px;
  }

  .product-text p {
    margin-top: 10px;
  }

  .product-text__price {
    font-size: 0.9em;
  }

  .textbox p {
    font-size: 1.2em;
    margin-top: 10px;
  }

  .buynow-cta p {
    font-size: 1.2em;
  }

  .main-checkout {
    max-width: 600px;
  }

  .checkout-summary {
    max-width: 600px;
    min-height: 180px;
  }

  .checkout-content img {
    max-height: 100px;
  }

  .main-checkedout {
    max-width: 800px;
  }

  .checkout-content h1 {
    margin-top: 30px;
  }

  .checkout-content p {
    margin-top: 10px;
  }

  .fa-check-circle {
    font-size: 10em;
  }

  .checkedout-content__text {
    margin-top: 15px;
  }

  #confirmation-email {
    margin-top: 20px;
  }

  .checkedout-footer h3 {
    font-size: 1.7em;
  }

  .social-icons {
    font-size: 1.6em;
  }

  .main-contact {
    min-width: 650px;
  }

  .fa-phone-alt {
    font-size: 5em;
  }

  #contact-phonenumber {
    font-size: 1.8em;
  }

  #contact-chat {
    font-size: 5em;
  }

  .chat-text {
    margin-right: 35px;
  }

  .fa-envelope {
    font-size: 5em;
  }

  #contact-mail {
    font-size: 1.8em;
  }

  .message-field {
    width: 400px;
  }

  .message-textbox form {
    justify-content: center;
  }

  .main-about {
    max-width: 700px;
  }

  .know-us {
    max-width: 700px;
  }

  .know-us h2 {
    font-size: 1.7em;
  }

  .know-us h3 {
    font-size: 1.5em;
  }

  .know-us p {
    font-size: 1.3em;
  }

  .know-you h2 {
    font-size: 1.7em;
  }

  .know-you input {
    height: 50px;
  }
}
